* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.icon {
    width: 30px;
}

.header {
    border-top: 10px solid #81d8d0;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

.header-icon {
    position: relative;
    display: flex;
    gap: 30px;
}

.pop-up-icon {
    border-top: 75px solid #81d8d0;
    background-color: white;
    width: 450px;
    height: 650px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 0px;
    visibility: hidden;
}

.pop-up-icon h2 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
}

.pop-up-icon p {
    margin-left: 30px;
    color: rgb(50, 50, 50);
}

.pop-up-icon a {
    margin-left: 40px;
    text-decoration: underline;
    color: black;
    padding: 20px;
    margin: 10px;
}


.icon-login:hover .pop-up-icon {
    visibility: visible;

}

.header-name h2 a {
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 60px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: 'Cormorant Garamond', serif;
}

.menu a {
    color: rgb(111, 110, 110);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content-account {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.contentSignIn {
    margin-left: 70px;
}

.contentSignIn h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
}

.contentSignIn p {
    margin-top: 10px;
    color: rgb(111, 110, 110);
}

.contentSignIn label,
input {
    width: 100%;
}

.contentSignIn input {
    height: 30px;
}

.passwordInput {
    position: relative;
}

.bi-eye-slash {
    position: absolute;
    right: 10px;
    top: 73%;
}

.contentSignIn label {
    display: block;
    padding-top: 50px;
}

.clearfix button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
}

.clearfix a {
    text-decoration: none;
    color: white;
}

.content-img img {
    width: 70%;
}

