* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.icon {
    width: 30px;
}

.fa {
    text-shadow: 0 0 5px black;
    color: white;
}

.readyFavorite {
    color: #81d8d0;
}

.header {
    border-top: 10px solid #81d8d0;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

.header-logo input {
    width: 200px;
    height: 25px;
    margin-left: 10px;
    border-radius: 10px;
}

.header-icon {
    position: relative;
    display: flex;
    gap: 30px;
}

.pop-up-icon {
    border-top: 75px solid #81d8d0;
    background-color: white;
    width: 450px;
    height: 650px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 0px;
    visibility: hidden;
}

.pop-up-icon h2 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
}

.pop-up-icon p {
    margin-left: 30px;
    color: rgb(50, 50, 50);
}

.pop-up-icon a {
    margin-left: 40px;
    text-decoration: underline;
    color: black;
    padding: 20px;
    margin: 10px;
}


.icon-login:hover .pop-up-icon {
    visibility: visible;

}

.header-name h2 a {
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 60px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: 'Cormorant Garamond', serif;
}

.menu a {
    color: rgb(111, 110, 110);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.content-1 {
    margin-top: 10px;
    padding: 30px;
}

.content-1 h2 {
    text-align: center;
    font-size: 45px;
    font-family: 'Cormorant Garamond', serif;
}

.content-1 p {
    text-align: center;
    margin-top: 10px;
    font-family: 'Cormorant Garamond', serif;
}

.content-2 {

    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.content-2 img {
    margin-right: 50px;
    width: 50%
}

.content-2-text {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-2-text h3 {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
}

.content-2-text p {
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

#listProduct {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 8px;
}

.productItem {
    width: 340px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.iconDetail {
    visibility: hidden;
}
.productItem:hover .iconDetail {
    visibility: visible;
}

.iconDetail i {
    position: absolute;
    top: 30px;
}

.iconDetail .fa-heart {
    left: 30px;
}

.iconDetail .fa-bag-shopping {
    right: 30px;
}

#listProduct img {
    width: 100%;
}

.nameProduct {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-weight: 800;
}

.nameProduct p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

.priceProduct {
    font-size: 20px;
    margin-left: 10px;
    color: black;
    display: flex;
}

.priceProduct p {
    font-family: 'Cormorant Garamond', serif;
}

#listProduct button {
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 80px;
    margin-left: 30px;
}

.footer {
    border-top: 5px solid #81d8d0;
}

.footer-text {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.footer-detail {
    display: flex;
    justify-content: space-between;
}

.footer-detail-left {
    display: flex;
    gap: 70px;
    padding: 30px;
}

.footer-detail-rigth {
    padding: 30px;
}

.footer-detail-2 h3,
p {
    margin-bottom: 20px;
}

.footer-detail-2 h3 {
    font-size: 15px;
}

.footer-detail-2 p {
    color: rgb(71, 70, 70);
    font-size: 15px;
}


